<div class="content-area post-album pjax-area">
  <div class="grid grid-cols-3 gap-2">
    <div class="pic-area" style="background-image:url('<%- page.cover || theme.header.img %>');">
    </div>
    <div class="album-info flex">
      <div class="album-info-main">
        <div class="album-title"><%- page.title %></div>
        <span class="album-subtitle">
          <%= page.date.format(config.date_format) %>
        </span>
      </div>
      <div class="album-info-btm">
        <div class="album-location">
          <iconpark-icon name="aiming"></iconpark-icon><span><%- page.location %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="album-list flex gap-2">
    <% for (var i in page.photos) { %>
    <a class="album-item lazy-bg" id="<%- i %>" rel="<%- page.photos[i] %>" href="javascript:void(0);" onClick="changeimg(event)" data-src="<%- page.photos[i] %>"></a>
    <% } %>
  </div>

  <div class="album-article article">
    <%- page.content %>
  </div>
</div>
<script>
  $(function() {
    $("a.lazy-bg").lazyload();
  });
  function changeimg() {
    var imgLink = event.target.getAttribute('rel');
    $(".pic-area").css("background-image", "url(" + imgLink + ")");
  }
</script>
<section class="pjax-area">
  <style>
    body {
      background-color: #fff;
    }

    .content-area {

      padding: 16px;
    }

    @media (max-width: 768px) {
      .content-area {
        max-width: 100vw;
      }

      .pic-area {
        grid-column: span 3 / span 3;
      }

      .album-info {
        grid-column: span 3 / span 3;
        padding: 12px;
      }

      .album-article {
        padding: 12px;
      }
    }

    @media (min-width: 768px) {
      .content-area {
        max-width: 92%;
        padding-top: 118px;
        margin: 0 auto;
      }

      .pic-area {
        grid-column: span 2 / span 2;
      }

      .album-info {
        grid-column: span 1 / span 1;
      }
    }

    @media (min-width: 1086px) {
      .content-area {
        max-width: 1000px;
      }
    }

    .pic-area {
      aspect-ratio: 3 / 2;
      background-size: cover;
      background-position: center;
      transition: all .3s ease-in-out;
    }

    .album-info {
      flex-direction: column;
      justify-content: space-between;
      color: #222831;
    }

    .album-title {
      font-size: 1.6em;
    }

    .album-subtitle {
      font-size: .8em;
      opacity: 0.8;
    }


    .album-location {
      display: inline-flex;
      font-size: .8em;
      color: #71afdd;
      opacity: 0.65;
      gap: 4px;
      padding-bottom: 4px;
    }

    .album-list {
      padding-top: 12px;
      overflow-x: scroll;
    }

    .album-item {
      aspect-ratio: 1 / 1;
      height: 100px;
      background-size: cover;
      background-position: center;
    }
  </style>
</section>