<% if (theme.schemes =='column' ){ %>
<div class="mdui-container">
  <div class="mdui-row">
    <div class="mdui-col-md-2 mdui-col-xs-down"></div>
    <div class="mdui-col-md-8 mdui-col-xs-12 pjax-area">
      <!--<div class="itp-index-notice mdui-text-center">
        向那些永远停留在这个冬天里的人致哀
      </div>-->
      <div class="itp-index">
        <% if( (theme.social_link.use === true) && (theme.schemes =='column' ) && (page.current === 1) && (is_home()) ) { %>
        <section id="index-links">
          <div class="mdui-row-lg-3 mdui-row-md-3 mdui-row-sm-3 mdui-row-xs-1" style="padding-bottom: 10px;">
            <% for (var a in theme.cover_links) { %>
            <a class="mdui-col" href="<%= theme.cover_links[a].link %>" title="<%= theme.cover_links[a].title %>" target="_blank">
              <div class="mdui-card mdui-shadow-0 itp-index-link">
                <div class="mdui-card-header">
                  <img class="mdui-card-header-avatar" src="<%= theme.cover_links[a].avatar %>" />
                  <div class="mdui-card-header-title"><%= theme.cover_links[a].title %></div>
                  <div class="mdui-card-header-subtitle"><%- theme.cover_links[a].descr %></div>
                </div>
              </div>
            </a>
            <% } %>
            <% if (theme.social_link.wechat_public.switch == true) { %>
            <a class="mdui-col itp-link-item" data-fancybox data-src="#mp-wechat" href="javascript:;" title="Wechat Public Account" target="_blank">
              <div class="mdui-card mdui-shadow-0 itp-index-link">
                <div class="mdui-card-header">
                  <img class="mdui-card-header-avatar" src="//imgur.lzmun.com/picgo/20200324092946.jpg" />
                  <div class="mdui-card-header-title">Wechat Public Account</div>
                  <div class="mdui-card-header-subtitle">iTypen</div>
                </div>
              </div>
            </a>
            <% } %>
            <% if (theme.social_link.wechat_personal.switch == true) { %>
            <a class="mdui-col itp-link-item" data-fancybox data-src="#personal-wechat" href="javascript:;" title="Wechat Personal Account" target="_blank">
              <div class="mdui-card mdui-shadow-0 itp-index-link">
                <div class="mdui-card-header">
                  <img class="mdui-card-header-avatar" src="//imgur.lzmun.com/picgo/20200323120414.jpg" />
                  <div class="mdui-card-header-title">Personal Wechat Account</div>
                  <div class="mdui-card-header-subtitle">hiaiokr</div>
                </div>
              </div>
            </a>
            <% } %>
          </div>
        </section>
        <% } %>
        <section id="index-post-entry">
          <div class="itp-index-content">
            <% page.posts.each(function(item, itemIndex){ %>
            <% if (item.noindex !== true) { %>
            <%- partial('_partial/post-entry', {item: item}) %>
            <% } %>
            <% }); %>
            <div class="index-pagination">
              <% if (page.prev){ %>
              <a href="<%- config.root %><%- page.prev_link %>" class="index-pagination-btn"><%- __('prev')%></a>
              <% } %>
              <% if (page.next){ %>
              <a href="<%- config.root %><%- page.next_link %>" class="index-pagination-btn"><%- __('next')%></a>
              <% } %>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="mdui-col-md-2 mdui-col-xs-down"></div>
  </div>
</div>
<% } else if (theme.schemes =='m3' ) { %>
<section id="index-post-entry">
  <div class="itp-index-content">
    <% page.posts.each(function(item, itemIndex){ %>
    <% if (item.noindex !== true) { %>
    <%- partial('_partial/post-entry', {item: item}) %>
    <% } %>
    <% }); %>
    <div class="index-pagination">
      <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>" class="index-pagination-btn"><%- __('prev')%></a>
      <% } %>
      <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>" class="index-pagination-btn"><%- __('next')%></a>
      <% } %>
    </div>
  </div>
</section>
<% } %>

<!--首页微信号二维码弹窗-->
<% if( (theme.social_link.use === true) && (page.current === 1) && (is_home()) ) { %>
<% if (theme.social_link.wechat_public.switch == true) { %>
<!-- Wechat MP QRCode -->
<div style="display: none;" id="mp-wechat">
  <div class="mdui-dialog-title"><%- __('wechat_mp')%></div>
  <img src="<%= theme.social_link.wechat_public.src %>" width="300px" class="mdui-center nofancy">
</div>
<% } %>
<% if (theme.social_link.wechat_personal.switch == true) { %>
<!-- Wechat Personal QRCode -->
<div style="display: none;" id="personal-wechat">
  <div class="mdui-dialog-title"><%- __('wechat_personal')%></div>
  <img src="<%= theme.social_link.wechat_personal.src %>" width="300px" class="mdui-center nofancy">
</div>
<% } %>
<% } %>