<% if (theme.schemes==='column' ) { %>
<% if (page.style==='photos' ) { %>
<%- partial('_partial/post-gallery') %>
<% } else { %>
<!--<progress id="content_progress" value="0"></progress>-->
<div class="mdui-container">
  <div class="content-area">
    <div class="mdui-row pjax-area">
      <div class="mdui-col-md-2 mdui-col-xs-down"></div>
      <div class="mdui-col-md-8 mdui-col-xs-12">
        <div class="mdui-card itp-post-card">
          <!--正文-->
          <section class="mdui-card-content itp-post-content article" role="article">
            <%- page.content %>
          </section>
          <!--文章底部信息-->
          <section class="mdui-card-content itp-post-content">
            <div class="mdui-text-center">
              <div class="itp-post-subtitle">
                <%= page.date.format(config.date_format) %>
                <% if (page.categories && page.categories.length) { %>
                <span> / </span>
                <%- list_categories(page.categories, { show_count: false,
                              separator: '<span class="itp-post-cat"></span><span> / </span>' , style: 'none' }) %>
                <% } %>
                <span> / </span>
                <%- symbolsCount(page) %>
              </div>
            </div>
            <% if (page.tags) { %>
            <div class="mdui-text-center" style="padding-top: 2px; font-size: .75rem !important;">
              <div class="tags-links">
                <% page.tags.each(function(tag){ %>
                <div class="mdui-chip">
                  <a class="mdui-chip-title" href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
                    <%- tag.name %>
                  </a>
                </div>
                <% }); %>
              </div>
            </div>
            <% } %>
          </section>
          <section class="mdui-card-content itp-page-select">
            <%- partial('_partial/post-pagination') %>
          </section>
          <section class="itp-post-comment noprn" id="comment">
            <%- partial('_partial/comment') %>
          </section>
        </div>
      </div>
      <div class="mdui-col-md-2 mdui-col-xs-down itp-right-col">
        <%- partial('_partial/column-toc') %>
        <style>
          ::-webkit-scrollbar {
            display: none;
          }
        </style>
      </div>
    </div>
  </div>
</div>
<% } %>
<%} else if (theme.schemes==='m3' ) { %>
<% if (page.style==='photos' ) { %>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5" style="max-width: 100vw; padding-top: 58px;">
  <% for (var i in page.photos) { %>
  <div style="padding: 2px; position: relative;">
    <div class="itp-gallery2-tile itp-gallery-img lazy-bg" data-src="<%- page.photos[i] %>">
      <a data-fancybox="images" href="<%- page.photos[i] %>" class="image-fancy-link" data-caption="<%- page.title %>">>
      </a>
    </div>
  </div>
  <% } %>
</div>
<script>
  $(function() {
    $("div.lazy-bg").lazyload();
  });
</script>
<%- css('css/gallery') %>
<style>
  @media screen and (min-width: 1022px) {
    .mdui-grid-list {
      margin-top: 58px;
    }
  }
</style>
<% } %>
<div class="content-area post-content-area">
  <div class="left-area"></div>
  <div class="main-area">
    <div class="itp-m3-card post-cover">
      <div class="itp-m3-card-cover">
        <div class="itp-m3-cover-bg" style="
          background-image: url(<%- page.cover || theme.header.img %>);
          background-size: cover;
          background-position: center center;
        ">
          <div class="itp-m3-card-cover-layer ">
            <div class="info-area pjax-area">
              <div class="itp-m3-cover-avatar">
                <img src="<%- theme.avatar %>" class="nofancy">
              </div>
              <div class="itp-m3-cover-title" style="opacity: 1;">
                <%= page.title || config.title %>
              </div>
              <div class="itp-m3-cover-subtitle" style="opacity: 0.8;">
                <%- partial('_partial/subtitle') %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article">
        <%- page.content %>
      </div>
      <div class="itp-m3-post-info_area">
        <div class="info_area-category">
          <% if (page.categories && page.categories.length) { %>
          <div class="itp-m3-chip-color-list">
            <%- list_categories(page.categories, {
                  show_count: false,
                  class: '',
                  style: 'none',
                  separator: ''
                }) %>
          </div>
          <% } %>
          <% if (page.tags && page.tags.length) { %>
          <div class="itp-m3-chip-normal-list">
            <%- list_tags(page.tags,{
                  show_count: false,
                  style: 'none',
                }) %>
          </div>
          <% } %>
        </div>
        <div class="info_area-copyright">
          <p><%- __('post_copyright')%></p>
        </div>
      </div>
    </div>
    <div class="itp-m3-card itp-m3-post-comment_area" id="comment">
      <%- partial('_partial/comment') %>
    </div>
  </div>
  <div class="right-area">
    <% if (theme.post_toc == true ) { %>
    <%- partial('_partial/column-toc-m3') %>
    <% } %>
  </div>
</div>
<% } %>
<!--<%- partial('_partial/shareimg') %>-->
<style>
  .itp-m3-chip-color-list {}
</style>