<div class="content-area">
    <div class="post-container">
        <div class="mdui-container">
            <div class="mdui-row">
                <div class="mdui-col-md-2 mdui-col-xs-down"></div>
                <div class="mdui-col-md-8 mdui-col-xs-12">
                    <div class="mdui-card itp-post-card">
                        <!--头图-->
                        <section class="mdui-card-media itp-post-cover">
                            <img src="<%- page.cover %>"
                                style="border-radius: 0px; max-height: 300px; object-fit: cover;" />
                        </section>
                        <!--文章信息区-->
                        <section class="mdui-card-primary">
                            <div class="mdui-card-primary-title itp-post-title">
                                <%- page.title %>
                            </div>
                            <div class="mdui-card-primary-subtitle itp-post-subtitle"
                                style="padding-top: 5px; font-size: 16px !important;">
                                <%= page.date.format(config.date_format) %>
                                <% if (page.categories && page.categories.length) { %>
                                <span> · </span>
                                <%- list_categories(page.categories, {
                                show_count: false,
                                separator: '<span class="itp-post-cat"></span>',
                                style: 'none'
                            }) %>
                                <% } %>
                            </div>
                        </section>
                        <div class="mdui-divider"></div>
                        <!--正文-->
                        <section class="mdui-card-content article" role="article">
                            <%- page.content %>
                        </section>
                        <!--文章底部信息-->
                        <section class="mdui-card-content">
                            <div class="mdui-text-center noprn"><%= __('post.post_on') %>
                                <%= page.date.format(config.date_format) %></div>
                            <% if (page.tags) { %>
                            <div class="mdui-card-primary-subtitle"
                                style="padding-top: 2px; font-size: .75rem !important;">
                                <div class="tags-links">
                                    <% page.tags.each(function(tag){ %>
                                    <div class="mdui-chip">
                                        <a class="mdui-chip-title" href="<%= config.root %>tags/<%= tag.name %>/"
                                            rel="tag">
                                            <%- tag.name %>
                                        </a>
                                    </div>
                                    <% }); %>
                                </div>
                            </div>
                            <% } %>
                        </section>
                        <section class="mdui-card-content itp-post-comment noprn">
                            <%- partial('_partial/comment') %>
                        </section>
                        <section class="mdui-card-content itp-page-select mdui-row">
                            <%- partial('_partial/post-pagination') %>
                        </section>
                    </div>
                </div>
            </div>
            <div class="mdui-col-md-2 mdui-col-xs-down"></div>
        </div>
    </div>
</div>
<%- partial('_partial/post-toc') %>