<!-- fancybox -->
<% if(theme.cdn.use == 'jsdelivr') { %>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
<script src="/js/jquery.fancybox.min.js"></script>
<% } %>
<!-- mdui -->
<%- js('js/mdui.min.js') %>
<!-- busuanzi -->
<% if (theme.busuanzi == true){ %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
<!-- highlightjs -->
<% if(theme.highlight.use == true) { %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script src="/js/highlight.min.js"></script>
<% } %>
<script>
  hljs.initHighlightingOnLoad();
  $("pre.code").each(function() {
    $(this).html("<ol><li>" + $(this).html().replace(/\n/g, "\n</li><li>") + "\n</li></ol>");
  });
</script>
<% } %>
<% if(page.style == 'photos') { %>
<%- js('js/gallery-page.js') %>
<% } %>
<%- js('js/app.js') %>
<% if (theme.schemes =='column' ){ %>
<%- js('js/nav-scroll.js') %>
<%} else if (theme.schemes =='m3' ){ %>
<% } %>
<!--
<%- js('js/canvas2image.js') %>
<%- js('js/shareimg') %>
<%- js('js/pjax-ctrl.js') %>
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
-->