<!-- fancybox -->
<% if(theme.cdn.use == 'jsdelivr') { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script src="/js/fancybox.umd.js" defer></script>
<link rel="stylesheet" href="/css/fancybox.css" />
<% } %>
<!-- mdui -->
<%- js('js/mdui.min.js') %>
<!-- busuanzi -->
<% if (theme.busuanzi == true){ %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js" defer></script>
<% } %>
<!-- highlightjs -->
<% if(theme.highlight.use == true) { %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js" defer></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script src="/js/highlight.min.js" defer></script>
<% } %>
<script>
  hljs.initHighlightingOnLoad();
  $("pre.code").each(function() {
    $(this).html("<ol><li>" + $(this).html().replace(/\n/g, "\n</li><li>") + "\n</li></ol>");
  });
</script>
<% } %>
<!--Comment-->
<% if(is_post() | is_page() | page.layout !== 'gallery' | page.layout !== 'gallery2') {%>
<% if(theme.comment.use == 'gitment') { %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script data-pjax src='//cdn.jsdelivr.net/npm/gitment@0.0.3/dist/gitment.js' async></script>
<script data-pjax src='//cdn.jsdelivr.net/npm/gitment@0.0.3/dist/theme/default.js' async></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitment@0.0.3/style/default.min.css">
<% } else if ( theme.cdn.use == 'self_host') { %>
<link rel="stylesheet" href="/css/gitment.css">
<script src="/js/gitment.js" async></script>
<script src="/js/gitment-theme.js" async></script>
<% } %>
<% } else if ( theme.comment.use == 'valine') { %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script data-pjax src="//cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js" async></script>
<script data-pjax src='//cdn.jsdelivr.net/npm/valine@1.5.1/dist/Valine.min.js' async></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script data-pjax src="/js/av-min.js" async></script>
<script data-pjax src='/js/Valine.min.js' async></script>
<% } %>
<% } else if (theme.comment.use == 'waline') { %>
<% if (theme.schemes =='column' ){ %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="//cdn.jsdelivr.net/npm/@waline/client" async></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script data-pjax src='/js/walline-client.js' async></script>
<% } %>
<%} else if (theme.schemes =='m3' ){ %>
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.noStyle.js" async></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<script src="/js/Waline.noStyle.js" async></script>
<% } %>
<%- css('css/waline') %>
<% } %>
<% } %>
<% } %>
<% if(page.style == 'photos') { %>
<%- js('js/gallery-page.js') %>
<% } %>
<%- js('js/app.js') %>
<% if (theme.schemes =='column' ){ %>
<%- js('js/nav-scroll.js') %>
<%} else if (theme.schemes =='m3' ){ %>
<% } %>
<!--
<%- js('js/canvas2image.js') %>
<%- js('js/shareimg') %>
<%- js('js/pjax-ctrl.js') %>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js" defer></script>
-->
<!--PJAX-->
<!--
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js" defer></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<%- js('js/pjax.js') %>
<% } %>
<%- js('js/pjax-ctrl.js') %>
-->
<!--lazyload-->
<% if(theme.cdn.use == 'jsdelivr') { %>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js" defer></script>
<% } else if ( theme.cdn.use == 'self_host') { %>
<%- js('js/lazyload.js') %>
<% } %>
<!--全局键盘快捷键-->
<script>
  window.onkeydown = function allpage_hotkey() {
    //[键盘快捷键] Shift+1 首页
    if (event.shiftKey && event.keyCode === 49) {
      window.location.href = "<%- config.root %>"
    };
    //[键盘快捷键] Shift+2 归档页
    if (event.shiftKey && event.keyCode === 50) {
      window.location.href = "/archives/"
    };
    //[键盘快捷键] Shift+3 相册页
    if (event.shiftKey && event.keyCode === 51) {
      window.location.href = "/gallery/"
    };
    //[键盘快捷键] Shift+4 关于页
    if (event.shiftKey && event.keyCode === 52) {
      window.location.href = "/about/"
    };
    //[键盘快捷键] Shift+5 友情链接页
    if (event.shiftKey && event.keyCode === 53) {
      window.location.href = "/links/"
    };
    <% if( (is_home()) ) { %>
    //[键盘快捷键] 左箭头 上一页
    if (event.keyCode === 37) {
      window.location.href = "<%- config.root %><%- page.prev_link %>"
    };
    //[键盘快捷键] 右箭头 下一页
    if (event.keyCode === 39) {
      window.location.href = "<%- config.root %><%- page.next_link %>"
    };
    <% } %>
  }
</script>