<div class="mdui-card mdui-hoverable itp-post-index">
  <% if (item.cover) { %>
  <div class="mdui-card-media">
    <a href="<%- config.root %><%- item.path %>">
      <img src="<%- item.cover %>" alt="<%- item.title %>" class="attachment-post-thumbnail"
        style="border-radius: 0px; object-fit: cover;">
    </a>
  </div>
  <% } %>
  <div class="mdui-card-primary">
    <div class="mdui-card-primary-title itp-post-index-title"><a
        href="<%- config.root %><%- item.path %>"><%- item.title || theme.default_post_title || "Untitled" %></a>
    </div>
    <div class="mdui-card-primary-subtitle itp-post-index-subtitle">
      <%= item.date.format(config.date_format) %><span> · </span>

      <% item.categories.each(function(categories){ %>
      <a class="itp-post-index-categories" href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
        <%- categories.name %>
      </a>
      <% }); %>
    </div>
  </div>
  <%- partial('_partial/article-index-summary') %>
</div>