<%
var isFullUrl = function(str) {
  return /^(https:|http:|ftp:)?\/\//.test(str);
};
%>
<% if(item.style == 'cover') { %>
<!--仅封面文章入口-->
<% if (item.cover) { %>
<div class="mdui-card mdui-hoverable itp-post-index itp-post-index-hero">
  <div class="mdui-card-media">
    <a href="<%- config.root %><%- item.path %>">
      <img src="<%- item.cover %>" alt="<%- item.title %>" class="attachment-post-thumbnail"
        style="border-radius: 0px; object-fit: cover;">
    </a>
  </div>
</div>
<% } else { %>
<%- partial('_partial/article-index-standard') %>
<% } %>
<% } else if (item.style == 'hero') { %>
<!--标题覆盖封面文章入口-->
<% if (item.cover) { %>
<div class="mdui-card mdui-hoverable itp-post-index itp-post-index-hero">
  <div class="mdui-card-media">
    <a href="<%- config.root %><%- item.path %>">
      <img src="<%- item.cover %>" alt="<%- item.title %>" class="attachment-post-thumbnail"
        style="border-radius: 0px; object-fit: cover;">
    </a>
  </div>
  <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title"><a href="<%- config.root %><%- item.path %>"
          ><%- item.title || theme.default_post_title || "Untitled" %></a>
      </div>
      <div class="mdui-card-primary-subtitle" style="padding-top: 5px;">
        <%= item.date.format(config.date_format) %><span> · </span>
        <% item.categories.each(function(categories){ %>
        <a href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
          <%- categories.name %>
        </a>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<% } else { %>
<%- partial('_partial/article-index-standard') %>
<% } %>
<% } else if (item.style == 'smart') { %>
<!--小图样式文章入口-->
<% if (item.cover) { %>
<div class="mdui-card mdui-hoverable itp-post-index">
  <div class="mdui-row">
    <div class="mdui-col-md-5 mdui-col-xs-12" style="max-height: 250px;">
      <div class="mdui-card-media">
        <a href="<%- config.root %><%- item.path %>">
          <img src="<%- item.cover %>" alt="<%- item.title %>" class="attachment-post-thumbnail"
            style="border-radius: 0px; height: 250px; object-fit: cover;">
        </a>
      </div>
    </div>
    <div class="mdui-col-md-7 mdui-col-xs-12">
      <div class="mdui-card-primary" style="padding: 24px 16px 0px 16px;">
        <div class="mdui-card-primary-title itp-post-index-title"><a
            href="<%- config.root %><%- item.path %>"><%- item.title || theme.default_post_title || "Untitled" %></a>
        </div>
        <div class="mdui-card-primary-subtitle itp-post-index-subtitle">
          <%= item.date.format(config.date_format) %><span> · </span>
          <% item.categories.each(function(categories){ %>
          <a class="itp-post-index-categories" href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
            <%- categories.name %>
          </a>
          <% }); %>
        </div>
      </div>
      <%- partial('_partial/article-index-summary') %>
    </div>
  </div>
</div>
<% } else { %>
<%- partial('_partial/article-index-standard') %>
<% } %>
<% } else { %>
<!--默认文章入口-->
<%- partial('_partial/article-index-standard') %>
<% } %>