<% if ( theme.comment.use == 'cusdis' ) { %>
<!--Cusdis-->
<div id="cusdis_thread" data-host="<%= ( theme.comment.cusdis.host || 'https://cusdis.com') %>" data-app-id="<%= theme.comment.cusdis.app_id %>" data-page-id="<%= url_for(page.path) %>" data-page-url="<%= config.url %><%= url_for(page.path) %>" data-page-title="<%= page.title %>"></div>
<script data-pjax src="https://cusdis.com/js/cusdis.es.js"></script>

<% } else if (theme.comment.use == 'waline') { %>
<!--Waline-->
<script src="/js/waline_v2.js"></script>
<link rel="stylesheet" href="/css/waline.css" />
<div id="waline"></div>
<script>
  Waline.init({
    el: '#waline',
    serverURL: '<%= theme.comment.waline.serverurl %>',
    path: '<%= url_for(page.path) %>',
    dark: 'auto',
    search: false,
    imageUploader: false,
    wordLimit: [5, 200],
    emoji: [
      'https://imgur.lzmun.com/press_assets/emojis/bili'
    ],
  });
</script>
<style>
  button[title="表情包"] {
    display: none;
  }
</style>
<% } %>