<% if ( theme.comment.use == 'cusdis' ) { %>
<!--Cusdis-->
<div id="cusdis_thread" data-host="<%= ( theme.comment.cusdis.host || 'https://cusdis.com') %>" data-app-id="<%= theme.comment.cusdis.app_id %>" data-page-id="<%= url_for(page.path) %>" data-page-url="<%= config.url %><%= url_for(page.path) %>" data-page-title="<%= page.title %>"></div>
<% } else if (theme.comment.use == 'waline') { %>
<div id="waline"></div>
<script>
  function startWaline() {
    Waline.init({
      el: '#waline',
      serverURL: '<%= theme.comment.waline.serverurl %>',
      path: '<%= url_for(page.path) %>',
      dark: 'auto',
      search: false,
      imageUploader: false,
      wordLimit: [5, 200],
      emoji: [
        'https://imgur.lzmun.com/press_assets/emojis/bili'
      ],
    })
  };
  document.addEventListener("DOMContentLoaded", startWaline);
</script>
<style>
  button[title="表情包"] {
    display: none;
  }

  .wl-panel {
    border-radius: 3px !important;
  }

  .wl-btn {
    border-radius: 3px !important;
  }

  .wl-power {
    text-align: center;
    opacity: 0.3;
  }
</style>
<% } %>