<!--评论-->
<% if(theme.comment.use == 'gitment') { %>
<!--gitment-->
<script>
  var gitment = new Gitment({
    id: '<%- page.comment_id || page.date %>', 
    owner: '<%= theme.comment.gitment.owner %>',
    repo: '<%= theme.comment.gitment.repo %>',
    oauth: {
      client_id: '<%= theme.comment.gitment.client_id %>',
      client_secret: '<%= theme.comment.gitment.client_secret %>',
    },
    theme: myGitmentTheme,
  })
  gitment.render('container')
</script>
<% } else if (theme.comment.use == 'valine') { %>
<!--valine-->
<div id="vcomments"></div>
<script>
  new Valine({
    el: '#vcomments',
    appId: '<%= theme.comment.valine.appid %>',
    appKey: '<%= theme.comment.valine.appkey %>',
    path: '<%= page.date %>',
    avatar: 'identicon'
  })
</script>
<% } else if (theme.comment.use == 'disqus') { %>
<!--disqus-->
<div id="disqus_thread" class="padding-25"></div>
<script>
    (function () {
      var d = document, s = d.createElement('script');
      s.src = '<%= theme.comment.disqus.src %>';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
<% } else if (theme.comment.use == 'disqusjs') { %>
<!--disqusjs-->
<link rel="stylesheet" href="/disqusjs/disqusjs.css">
<script src="/disqusjs/disqus.js"></script>
<div id="disqus_thread"></div>
<script>
  var dsqjs = new DisqusJS({
    shortname: "<%= theme.comment.disqusjs.shortname %>",
    siteName: "<%= theme.comment.disqusjs.siteName %>",
    identifier: "<%= page.permalink %>",
    url: "<%= page.permalink %>",
    api: "<%= theme.comment.disqusjs.api %>",
    apikey: "<%= theme.comment.disqusjs.apikey %>",
    admin: "<%= theme.comment.disqusjs.admin %>",
    adminLabel: "<%= theme.comment.disqusjs.adminLabel %>"
  });
</script>
<% } %>