<% if (theme.schemes =='m3' ){ %>
<% if (is_archive() | is_category() | is_tag() | is_post() | is_page()) { %>
<%} else if (page.layout == 'gallery' ) {%>
<%} else if (page.layout == 'gallery2' ) {%>
<% } else { %>
<div class="itp-m3-card top-cover">
  <div class="itp-m3-card-cover">
    <div class="itp-m3-cover-bg" style="
          background-image: url(<%- page.cover || theme.header.img %>);
          background-size: cover;
          background-position: center center;
        ">
      <div class="itp-m3-card-cover-layer ">
        <div class="info-area pjax-area">
          <div class="itp-m3-cover-avatar">
            <img src="<%- theme.avatar %>" class="nofancy">
          </div>
          <div class="itp-m3-cover-title" style="opacity: 1;">
            <%= page.title || config.title %>
          </div>
          <div class="itp-m3-cover-subtitle" style="opacity: 0.8;">
            <%- partial('_partial/subtitle') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if( (theme.social_link.use === true) && (theme.schemes =='m3' ) && (page.current === 1) && (is_home()) ) { %>
  <div class="itp-m3-card-content" style="padding: 12px;">
    <% for (var a in theme.cover_links) { %>
    <a href="<%= theme.cover_links[a].link %>" class="itp-m3-chip-bold"><%= theme.cover_links[a].title %></a>
    <% } %>
    <% if (theme.social_link.wechat_public.switch == true) { %>
    <a class="itp-m3-chip-bold" data-fancybox data-src="#mp-wechat" href="javascript:;" title="Wechat Public Account" target="_blank">
      <%- __('wechat_mp')%>
    </a>
    <% } %>
    <% if (theme.social_link.wechat_personal.switch == true) { %>
    <a class="itp-m3-chip-bold" data-fancybox data-src="#personal-wechat" href="javascript:;" title="Wechat Personal Account" target="_blank">
      <%- __('wechat_personal')%>
    </a>
    <% } %>
  </div>
  <% } %>
</div>
<% } %>
<% } else if (theme.schemes =='column' ) { %>
<div class="itp-cover noprn">
  <div class="itp-cover-img">
    <% if (page.blur==true){ %>
    <img class="nofancy blur" src="<%- page.cover || theme.header.img %>">
    <% } else { %>
    <img class="nofancy" src="<%- page.cover || theme.header.img %>">
    <% } %>
  </div>
  <div class="itp-cover-text">
    <div class="itp-cover-title mdui-text-center" style="color: <%- page.title_color || theme.header.title_color || '#fff' %>; opacity: 1;">
      <%= page.title || config.title %>
    </div>
    <div class="itp-cover-subtitle mdui-text-center" style="color: <%- page.title_color || theme.header.title_color || '#fff' %>; opacity: 0.8;">
      <%- partial('_partial/subtitle') %>
    </div>
  </div>
</div>
<div class="itp-cover noscreen">
  <div class="itp-cover-img">
    <% if (page.blur==true){ %>
    <img class="nofancy blur nodisplay" src="<%- page.cover || theme.header.img %>">
    <% } else { %>
    <img class="nofancy nodisplay" src="<%- page.cover || theme.header.img %>">
    <% } %>
  </div>
  <div class="itp-cover-text">
    <div class="itp-cover-title mdui-text-center" style="color: #000; opacity: 1;">
      <%= page.title || config.title %>
    </div>
    <div class="itp-cover-subtitle mdui-text-center" style="color: #000 !important; opacity: 0.8;">
      <%- partial('_partial/subtitle') %>
    </div>
  </div>
</div>
<% } %>