<!-- Footer -->
<footer class="site-info noprn" style="color: #e5e5e5">
  <div class="padding-15"></div>
  <div class="mdui-container" style="padding-left: 15px; padding-right: 15px;">
    <div class="padding-25"></div>
    <div class="mdui-row mdui-text-left">
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
            <%= __('footer.about') %>
        </div>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
          <%- config.title %> &copy; <%- theme.start_time %> - <%= (new Date()).getFullYear() %>
        </div>
        <% if(config.footer !== null) { %>
        <div class="mdui-typo-body-1">
          <div class="padding-15"></div>
          <%- config.footer || theme.footer %>
          <div class="padding-15"></div>
          <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></p>
          <div class="padding-15"></div>
          <p>Theme by <a href="https://blog.itypen.com/" target="_blank">aiokr</a></p>
        </div>
        <% } %>
        <div class="padding-15"></div>

      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
            <%= __('footer.info') %>
        </div>
        <% if (theme.count == true){ %>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
            <%= __('footer.countTotal') %>
          <%- symbolsCountTotal(site) %>
        </div>
        <% } %>
        <% if (theme.busuanzi == true){ %>
        <div class="mdui-typo-body-1">
          <br />
          <%= __('footer.uv') %> <span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span></span>
        </div>
        <div class="mdui-typo-body-1">
          <br />
          <%= __('footer.pv') %> <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span>
        </div>
        <% } %>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <% if (theme.icp){ %>
        <div class="mdui-typo-title-opacity">
            <%= __('footer.beian') %>
        </div>
        <div class="mdui-typo-body-1">
          <br />
          <a href="http://www.beian.miit.gov.cn"><%- theme.icp %></a>
        </div>
        <% } %>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <% if (theme.cdn.use == 'upyun'){ %>
        <div class="mdui-typo-title-opacity">
            <%= __('footer.cdn') %>
        </div>
        <div class="padding-15"></div>
        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img class="cdn-img"
            src="<%= theme.cdn.upyun.src %>"></a>
        <% } %>
      </div>
    </div>
  </div>
</footer>