<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--360 使用 Google Chrome Frame-->
  <meta name="renderer" content="webkit">
  <!--百度禁止转码-->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!--Description-->
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <meta name="google-site-verification" content="J4gssmXGNI9-DfJ9w52mL5KFPlRCYvySveEN0RJFZHU" />
  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>
  <!--Open Graph Title-->
  <% if (page.title){ %>
  <meta property="og:title" content="<%= page.title %>" />
  <% } else { %>
  <meta property="og:title" content="<%= config.title %>" />
  <% } %>
  <!--Open Graph Description-->
  <% if (page.description){ %>
  <meta property="og:description" content="<%= page.description %>" />
  <% } else if (config.description) { %>
  <meta property="og:description" content="<%= config.description %>" />
  <% } %>
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="<%= config.title %>" />
  <!--Type page-->
  <% if(page.title) { %>
  <meta property="og:type" content="article" />
  <% } else { %>
  <meta property="og:type" content="website" />
  <% } %>
  <!--Page Cover-->
  <% if (page.cover) { %>
  <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
  <% } else if (config.cover) { %>
  <meta property="og:image" content="<%= config.url %><%= config.cover %>" />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Title -->
  <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
  <title><%= title.join(' - ') %></title>
  <!-- 添加到主屏后的标题（iOS 6 新增） -->
  <meta name="apple-mobile-web-app-title" content="<%= config.title %>">
  <!-- 是否启用 WebApp 全屏模式 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- 禁止数字识自动别为电话号码 -->
  <meta name="format-detection" content="telephone=no" />
  <link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">
  <!--Apple iOS Safari ICON-->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= theme.apple_icon.iphone %>" />
  <link rel="apple-touch-icon" sizes="72x72" href="<%= theme.apple_icon.ipad %>" />
  <link rel="apple-touch-icon" sizes="114x114" href="<%= theme.apple_icon.iphone_hd %>" />
  <link rel="apple-touch-icon" sizes="144x144" href="<%= theme.apple_icon.ipad_hd %>" />
  <!-- 添加 RSS 订阅 -->
  <link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="/atom.xml" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- https://material.io/resources/icons/?style=outline -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <%- partial('_partial/fonts') %>
  <!-- Custom CSS/Sass -->
  <%- css('css/mdui.min') %>
  <%- css('css/style') %>
  <!--样式切换-->
  <% if (theme.schemes =='column' ){ %>
  <%- css('css/column') %>
  <%} else if (theme.schemes =='m3' ){ %>
  <%- css('css/material3') %>
  <% } %>
  <% if (page.layout =='gallery' ){ %>
  <%- css('css/gallery') %>
  <% } %>
  <% if (page.layout =='gallery2' ){ %>
  <%- css('css/gallery2') %>
  <% } %>
  <% if(theme.highlight.use == true) { %>
  <!--highlight.js CSS-->
  <% if(theme.highlight.style == 'github' ) { %>
  <%- css('css/highlight/github') %>
  <% } else if (theme.highlight.style == 'tomorrow') { %>
  <%- css('css/highlight/tomorrow') %>
  <% } else if (theme.highlight.style == 'night-blue') { %>
  <%- css('css/highlight/tomorrow-night-blue') %>
  <% } else if (theme.highlight.style == 'night-bright') { %>
  <%- css('css/highlight/tomorrow-night-bright') %>
  <% } else if (theme.highlight.style == 'night-eighties') { %>
  <%- css('css/highlight/tomorrow-night-eighties') %>
  <% } %>
  <% } %>
  <!-- jquery -->
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script src="//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script src="/js/jquery.min.js"></script>
  <% } %>
  <!--Comment-->
  <% if(theme.comment.use == 'gitment') { %>
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script data-pjax src='//cdn.jsdelivr.net/npm/gitment@0.0.3/dist/gitment.js'></script>
  <script data-pjax src='//cdn.jsdelivr.net/npm/gitment@0.0.3/dist/theme/default.js'></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitment@0.0.3/style/default.min.css">
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <link rel="stylesheet" href="/css/gitment.css">
  <script src="/js/gitment.js"></script>
  <script src="/js/gitment-theme.js"></script>
  <% } %>
  <% } else if ( theme.cdn.use == 'valine') { %>
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script data-pjax src="//cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js"></script>
  <script data-pjax src='//cdn.jsdelivr.net/npm/valine@1.5.1/dist/Valine.min.js'></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script data-pjax src="/js/av-min.js"></script>
  <script data-pjax src='/js/Valine.min.js'></script>
  <% } %>
  <% } else if (theme.cdn.use == 'waline') { %>
  <% if (theme.schemes =='column' ){ %>
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script data-pjax src='/js/walline-client.js'></script>
  <% } %>
  <%} else if (theme.schemes =='m3' ){ %>
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.noStyle.js"></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script src="/js/Waline.noStyle.js"></script>
  <% } %>
  <%- css('css/waline') %>
  <% } %>
  <% } %>
  <!--umami analytics-->
  <% if(theme.umami_analytics.use = true) { %>
  <script async defer data-website-id="<%= theme.umami_analytics.id %>" src="<%= theme.umami_analytics.src %>"></script>
  <% } %>
  <% if(theme.google_analytics.use == 'default') { %>
  <!-- Google Analytics -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= theme.google_analytics.ga_id %>', 'auto', {
      'siteSpeedSampleRate': 100
    }, {
      'alwaysSendReferrer': true
    });
    ga('send', 'pageview');
    ga('set', 'forceSSL', true);
  </script>
  <% } else if (theme.google_analytics.use == 'cf_async') { %>
  <!-- Google Analytics with Cloudflare Async -->
  <script>
    window.ga_tid = "<%= theme.google_analytics.ga_id %>"; // {String} The trackerID of your site.
    window.ga_api = "<%= theme.google_analytics.ga_api %>"; // {String} The route of your cloudflare workers you just registered before.
  </script>
  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script src="https://cdn.jsdelivr.net/npm/cfga@1.0.1" async></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script src="/js/cfga@1.0.1" async></script>
  <% } %>
  <% } else if (theme.google_analytics.use == 'gtag') { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics.gtag_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '<%= theme.google_analytics.gtag_id %>');
  </script>
  <% } %>
  <% if(page.layout == 'post') { %>
  <% if (theme.chart_js.use == true){ %>

  <% if(theme.cdn.use == 'jsdelivr') { %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <% } else if ( theme.cdn.use == 'self_host') { %>
  <script src="/js/chart.js@2.8.0"></script>
  <% } %>
  <% } %>
  <% } %>
  <% if (theme.pwa == true){ %>
  <link rel="manifest" href="/manifest.json">
  <% } %>
</head>