<%- partial('_partial/drawer') %>
<header id="header" class="itp-header noprn">
  <div id="appbar-index" class="mdui-appbar mdui-appbar-fixed itp-appbar_index mdui-shadow-0">
    <div id="toolbar-index" class="mdui-toolbar mdui-shadow-0" style="justify-content: center;">
      <a class="mdui-btn mdui-btn-icon itp-drawer-btn itp-header-actions_menu" style="color: #fff" data-fancybox data-src="#nav_menu" href="javascript:;"><i
          class="mdui-icon material-icons">menu</i></a>
      <a href="<%= url_for() %>" class="itp-header-title mdui-typo-title"><%- config.title %></a>
      <div class="itp-nav-action">
        <% for (var i in theme.nav) { %>
        <a href="<%- theme.nav[i].link %>" class="mdui-btn itp-header-actions" style="color: #fff"><%- i %></a>
        <% } %>
      </div>
      <div class="itp-nav-action">
        <% if (theme.search_btn == true){ %>
        <a href="/search.html" class="mdui-btn mdui-btn-icon itp-header-search-btn"><i class="mdui-icon material-icons"
            style="line-height: 20px;">search</i></a>
        <% } %>
      </div>
    </div>
  </div>
</header>

<% if (theme.schemes == 'm3'){ %>
  <div class="itp-float-bar-box">
    <div class="itp-float-bar">
      <% for (var i in theme.nav) { %>
        <a class="itp-float-bar-item" href="<%- theme.nav[i].link %>"><%- i %></a>
      <% } %>
    </div>
  </div>
  <!--
    TODO: 小屏幕设备点按弹出导航
  -->
<% } %>