<%
  if (theme.random_pics !== false && theme.random_pics) {
    var randomPicPost = Math.floor(Math.random() * theme.random_pics + 1);
  }
%>
<% if (theme.schemes==='column' ) { %>
<div class="itp-post-entry mdui-card mdui-shadow-0">
  <% if(item.style== 'moment') { %>
  <div class="mdui-card-primary">
    <div class="itp-post-entry-subtitle" style="padding: 0px 0 16px 0 !important">
      <%= item.date.format(config.date_format) %>
    </div>
    <div class="mdui-card-primary-title itp-post-entry-moment">
      <%- item.content || item.title || theme.default_post_title || "Untitled" %>
    </div>
  </div>
  <% } else { %>
  <a href="<%- url_for(item.path) %>">
    <% if(theme.random_pic_switch == true && item.cover ) { %>
    <div class="mdui-card-media itp-post-entry-cover" style="background-image: url('<%- item.cover %>');">
    </div>
    <% } else if (theme.random_pic_switch == true) { %>
    <div class="mdui-card-media itp-post-entry-cover" style="background-image: url('<%= url_for(theme.random_thumbnail) + randomPicPost + '.png' %>');">
    </div>
    <% } else if (theme.random_pic_switch == false && item.cover ) { %>
    <div class="mdui-card-media itp-post-entry-cover" style="background-image: url('<%- item.cover %>');">
    </div>
    <% } else if (theme.random_pic_switch == false ) { %>
    <div class="mdui-card-media itp-post-entry-cover" style="background-image: url('<%- theme.header.img %>');">
    </div>
    <% } %>
  </a>
  <div class="mdui-card-primary">
    <div class="mdui-card-primary-title itp-post-entry-title"><a href="<%- url_for(item.path) %>"><%- item.title || theme.default_post_title || "Untitled" %></a>
    </div>
    <div class="itp-post-entry-subtitle">
      <%= item.date.format(config.date_format) %><span> / </span>
      <% item.categories.each(function(categories){ %>
      <a class="itp-post-entry-categories" href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
        <%- categories.name %>
      </a>
      <span> / </span>
      <% }); %>
      <%- symbolsCount(item) %>
    </div>
    <div class="itp-post-entry-excerpt">
      <a href="<%- url_for(item.path) %>">
        <% if (item.excerpt) { %><%- item.excerpt %>
        <% } else { %><%- strip_html(truncate(item.content, { length: theme.auto_excerpt.length })) %>
        <% } %>
      </a>
    </div>
  </div>
  <% } %>
</div>
<%} else if (theme.schemes==='m3' ) { %>
<div class="itp-m3-index-post-area">
  <% if(item.style== 'moment') { %>
  <div class="itp-m3-card post-entry">
    <div class="itp-m3-post-entry-info">
      <div class="meta">
        <%= item.date.format(config.date_format) %>
      </div>
      <div class="title">
        <%- item.content || item.title || theme.default_post_title || "Untitled" %>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="itp-m3-card post-entry itp-m3-card-hover">
    <% if(theme.random_pic_switch == true && item.cover ) { %>
    <div class="itp-m3-post-entry-cover" style="background-image: url('<%- item.cover %>');">
    </div>
    <% } else if (theme.random_pic_switch == true) { %>
    <div class="itp-m3-post-entry-cover" style="background-image: url('<%= url_for(theme.random_thumbnail) + randomPicPost + '.png' %>');">
    </div>
    <% } else if (theme.random_pic_switch == false && item.cover ) { %>
    <div class="itp-m3-post-entry-cover" style="background-image: url('<%- item.cover %>');">
    </div>
    <% } else if (theme.random_pic_switch == false ) { %>
    <% } %>
    <div class="itp-m3-post-entry-info">
      <div class="meta">
        <%= item.date.format(config.date_format) %>
      </div>
      <div class="title">
        <a href="<%- url_for(item.path) %>"><%- item.title || theme.default_post_title || "Untitled" %></a>
      </div>
      <div class="excerpt">
        <% if (item.excerpt) { %><%- item.excerpt %>
        <% } else { %><%- strip_html(truncate(item.content, { length: theme.auto_excerpt.length })) %>
        <% } %>
      </div>
      <div class="category">
        <% item.categories.each(function(categories){ %>
        <a class="itp-m3-chip-bold" href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
          <%- categories.name %>
        </a>
        <% }); %>
      </div>

      <a href="<%- url_for(item.path) %>" class="post-entry-link"></a>
    </div>
  </div>
  <% } %>
</div>
<% } %>