<% if( (is_home()) ) { %>
<%- config.description %>
<% } else if( (is_post()) ) { %>
<%= page.date.format(config.date_format) %>
<span> / </span>
<% if (page.categories && page.categories.length) { %>
<%- list_categories(page.categories, {
        show_count: false,
        separator: '<span class="itp-post-cat"></span><span> / </span>',
        style: ''
      }) %>
<% } %>
<% if(page.author) { %>
<span> / </span>
<%= page.author %>
<% } %>
<span> / </span>
<%- symbolsCount(page) %>
<style>
  .category-link {
    color: #000;
  }
  @media print {
    .itp-cover-subtitle a {
      color: #000 !important;
    }
  }

  @media screen {
    .itp-cover-subtitle a {
      color: <%- page.title_color || theme.header.title_color || '#fff'%> !important;
    }
  }
</style>
<% } else { %>
<%- config.description %>
<% } %>